<h1>los restaurantes son wenos</h1>

<ul>

    <% @restaurants.each do |restaurant| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= restaurant.name%> </h5>
          <%= link_to 'See more', "#", class: "btn btn-primary hola", data: {restaurantId: restaurant.id} %>
          <div id="dishes-container-<%=restaurant.id%>"></div>
        </div>
      </div>
    <% end %>

</ul> 


<script>
var butts = document.querySelectorAll('.hola');
butts.forEach(function(butt) {
  butt.addEventListener("click", function(event) {
    event.preventDefault();
    var resId = this.getAttribute("data-restaurantId");
    console.log(resId);
    fetch("/restaurants/" + resId + "/dishes", {
      headers: {
        "X-Requested-With": "XMLHttpRequest"
      }
    })
    .then(response => response.text())
    .then(data => {
      var d = document.getElementById("dishes-container-" + resId);
      if (d){
      d.innerHTML = data;
      }
    });
  });
});
</script>
