<ul>

    <% @dishes.each do |dish| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= dish.name%> </h5>
          <%= link_to 'Dish info', restaurant_dish_path(dish.id, dish), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

</ul> 